### **Exercise 1: Series Creation and Operations**
1. Create a Pandas **Series** from the following list: `[10, 20, 30, 40, 50]`.
2. Assign custom index labels: `['a', 'b', 'c', 'd', 'e']` to this Series.
3. Access the value associated with index `'c'`.
4. Filter out the values greater than 25 from the Series.

---

Solutions

In [8]:
import pandas as pd

# Create a Pandas Series from list:
series = pd.Series([10, 20, 30, 40, 50])
print("Simple list:\n", series)

Simple list:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
# Assign custom index labels: ['a', 'b', 'c', 'd', 'e'] to this Series.
series.index = ['a', 'b', 'c', 'd', 'e']
print("Series with custom index:\n", series)

Series with custom index:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

In [11]:
# Access the value associated with index 'c'.
value_c = series['c']
print("Value at index 'c':", value_c)

Value at index 'c': 30

In [14]:
# Filter out the values greater than 25 from the Series.
filtered_s = series[series > 25]
print("Val;ues greater than 25:\n", filtered_s)

Val;ues greater than 25:
 c    30
d    40
e    50
dtype: int64

### **Exercise 2: Creating a DataFrame**
1. Create a DataFrame with the following data:
    - `Name`: ['John', 'Sara', 'Tom', 'Lucy']
    - `Age`: [23, 29, 22, 30]
    - `City`: ['New York', 'Los Angeles', 'Chicago', 'Houston']
2. Display the DataFrame.
3. Print the `Name` and `Age` columns only.
4. Add a new column `Salary` with values `[50000, 60000, 55000, 70000]`.
5. Remove the `City` column from the DataFrame.

---

Solution

### **Exercise 3: Loading Data and Inspecting**
1. Load the provided dataset (`food_coded.csv`) using Pandas.
2. Display the first 5 rows of the dataset.
3. Print the structure of the DataFrame (column names, non-null counts, data types).
4. Get the summary statistics of the numeric columns in the dataset.
5. Check the shape of the dataset.

---

### **Exercise 4: Indexing and Selecting Data**
1. Select and print the rows with index labels 2 and 4 from the following DataFrame:
   ```python
   data = {'Product': ['A', 'B', 'C', 'D', 'E'], 'Price': [100, 150, 200, 250, 300]}
   df = pd.DataFrame(data)
   ```
2. Use `.iloc[]` to select the first three rows and first two columns.
3. Use `.loc[]` to select the rows where `Price` is greater than 200.

---

Solution

### **Exercise 5: Slicing Data**
1. Create the following DataFrame:
   ```python
   data = {'Name': ['Anna', 'Ben', 'Charlie', 'David', 'Eva'],
           'Age': [28, 24, 35, 30, 29],
           'City': ['Seattle', 'Austin', 'New York', 'Boston', 'Denver']}
   df = pd.DataFrame(data)
   ```
2. Use slicing to select the first three rows.
3. Use slicing to select the last two columns of all rows.
4. Use slicing to select rows 2 to 4 and columns `Name` and `City`.

---

Solution